@model Drone_Simulator_MVC.Models.SimulatorModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<h4>PositionModel</h4>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label asp-for="DronePosition.xBorder" class="control-label"></label>
                        <input asp-for="DronePosition.xBorder" class="form-control" />
                        <span asp-validation-for="DronePosition.xBorder" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label asp-for="DronePosition.yBorder" class="control-label"></label>
                        <input asp-for="DronePosition.yBorder" class="form-control" />
                        <span asp-validation-for="DronePosition.yBorder" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" id="dvCoordinates">
                <div class="col-md-6">
                    <div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Start" class="btn btn-primary" asp-action="Start" />
                    </div>
                </div>
            </div>
            <div class="row" id="dvDronePanel">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <label asp-for="DronePosition.xcoordinate" class="control-label"></label>
                        <input asp-for="DronePosition.xcoordinate" class="form-control" />
                        <span asp-validation-for="DronePosition.xcoordinate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label asp-for="DronePosition.ycoordinate" class="control-label"></label>
                        <input asp-for="DronePosition.ycoordinate" class="form-control" />
                        <span asp-validation-for="DronePosition.ycoordinate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <label asp-for="DroneFlyTime.flytime" class="control-label"></label>
                        <input asp-for="DroneFlyTime.flytime" class="form-control" />
                        <span asp-validation-for="DroneFlyTime.flytime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <input asp-for="DroneFlasher.status" class="form-control" type="hidden" />
                        <input asp-for="DroneState.state" class="form-control" type="hidden" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" asp-action="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <input type="submit" value="Shutdown" class="btn btn-primary" asp-action="Shutdown" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            if (@Model.DroneState.state == 1) {
                $("#dvDronePanel").toggle();
                $("#dvCoordinates").toggle();
            }
        });

    </script>
}
